@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply Global Font */
body {
  @apply font-roboto;
}

/* Custom Styles */
@layer components {
  .text-primary-color {
    color: #09122c;
  }

  .bg-primary-color {
    background: #09122c;
  }

  .text-secondary-color {
    color: #6439ff;
  }

  .bg-secondary-color {
    background-color: #f9fafb;
  }
}

/* Active Navigation Link */
.nav-link.active {
  color: #1d4ed8; /* Tailwind blue-600 */
  font-weight: 600;
}
